body {
  font-family: sans-serif;
  background-color: #f8f8f8;
}

h1, h2, h3 {
  font-weight: bold;
}

nav {
  background-color: #333;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}
